.registor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    width: 640px;
    height: 954px;
    flex-shrink: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 100px;
}

form > span{
    padding-top: 10px;
}

.registor-image {
    width: 100%;
    height: 100vh;
    background-color: #DAF3FF;
    display: block;
    justify-content: center;
    align-items: center;
}

form input{
    padding: 12px;
}