.nav-menu-toggle {
    width: 80%;
    height: 80vh;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    border-radius: 25px 25px 25px 25px;

}

.nav-mobile-btns {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.nav-mobile-btn-1 {
    color: #fff;
    /* Body_text/Regular/15 */
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    background-color: #007DB6;
    line-height: 140%;
    width: 220px;
    /* 21px */
    border: 1px solid #007DB6;
}

.nav-mobile-text {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 18px;
    text-align: left;
}

.menu-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.nav-mobile-text > * {
    color: #292929;
    /* Body_text/Regular/15 */
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 21px */
}

.nav-mobile-btn-2 {
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    background-color: #007DB6;
    width: 220px;
    border: 1px solid #007DB6;
    /* 21px */
}

.nav-mobile-btn-3 {
    color: #007DB6;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 220px;
    background-color: #fff;
    border: 1px solid #007DB6;
    /* 21px */
}

.nav-show-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    background-color: transparent;
    border: 0;

}

@media screen and (max-width:768px) {
    .nav-menu-show {
        display: block;
    }
}