

.login {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.login-logo{
    width: 160px;
    padding: 43px 0;
}

.form {
    width: 640px;
    flex-shrink: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 100px;
}

.login .form form>span {
    padding-top: 30px;
}

.login-image {
    margin: auto;
    background-color: #DAF3FF;
    height: 100vh;
    width: 100%;
}

.login-image img{
    width: 40%;
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 150px;
    left: 750px;
}

.login .form form input {
    padding: 14px;
    font-size: 18px;
}

.login-btn {
    border: 0;
    outline: 0;
    background-color: #007DB6;
    color: white;
    margin-top: 30px;
    font-size: 20px!important;

}

.login-login-btn{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: transparent;
    color: #007DB6;
    border: 0;
    font-size: 20px!important;
}

@media screen and (max-width:767px) {
    .login-image{
        display: none;
    }
    form{
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    form > *{
        width: 90%;
    }
    .form{
        width: 100%;
    }
}