.banner {
    width: 100%;
    height: 80vh;
    background-color: #F4F9FB;
    border-radius: 20px;
}

.banner .parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .parent .child h1 {
    color: #292929;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 121.5%;
    /* 60.75px */
    text-transform: uppercase;
}

.banner .parent .mobile_image {
    display: none;
}

.banner .parent .child p {
    color: #292929;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 316px;
    /* 21px */
}

.banner .parent .child .main_image {
    padding-top: 100px;
}

.banner .parent .child .btn {
    margin-top: 32px;
    background-color: #007DB6;
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border: #007DB6;
}

@media screen and (max-width:768px) {
    .banner .parent .mobile_image {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 50px;
    }

    .banner .parent .main_image {
        display: none;
    }

    .banner .parent {
        display: grid;
        grid-template-columns: repeat(1fr);
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .banner .parent .child .btn {
        width: 100%;
    }

    .banner .parent .child h1 {
        color: #292929;
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        line-height: 125%;
        /* 40px */
        text-transform: uppercase;
    }

    .banner .parent .child p {
        color: #292929;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 21px */
    }
}